name: Java CI Build and Artifact Upload

on:
  push:
    branches:
      - main
<<<<<<< HEAD
  pull_request:
    branches:
      - main

=======
>>>>>>> 716041c (Job und ersten Schritt zum CI/CD-Workflow hinzuf체gen)
jobs:
  build-and-upload-artifact:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 4969b6a (update: Vollst채ndige Konfiguration des CI/CD-Workflows)

      - name: Set up JDK 22
        uses: actions/setup-java@v2
        with:
          java-version: '22'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean package
        working-directory: ./

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
<<<<<<< HEAD
          name: TicTacToeGame-GroupE
          path: target/TicTacToeGame-GroupE-1.0-SNAPSHOT.jar
=======
>>>>>>> 716041c (Job und ersten Schritt zum CI/CD-Workflow hinzuf체gen)
=======
            name: TicTacToeGame-GroupE
            path: target/TicTacToeGame-GroupE-1.0-SNAPSHOT.jar
>>>>>>> 4969b6a (update: Vollst채ndige Konfiguration des CI/CD-Workflows)
